.App {
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(94, 170, 228);
  min-height: 725px;
}

.b {
  text-align: center;
}
img {
  height: 300px;
}
.card {
  width: 24rem;
  height: 29rem;
  border-radius: 20px;
  padding: 10px 10px;
  background-color: rgb(117, 230, 158);

  /* text-shadow: 3px 3px white; */
  box-shadow: 8px 5px rgb(37, 36, 36);
}

.text-center {
  font-size: 50px;
}
.container {
  font-family: 'Times New Roman', Times, serif;
}
